[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Aknx05
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Aknx05
	label-Verified = -1..+1 group user/Aknx05
	push = group user/Aknx05
	read = group user/Aknx05
	rebase = group user/Aknx05
	removeReviewer = group user/Aknx05
	submit = group user/Aknx05
[access "refs/heads/*"]
	create = group user/Aknx05
	push = +force group user/Aknx05
	pushMerge = group user/Aknx05
	read = group user/Aknx05
[access "refs/tags/*"]
	push = group user/Aknx05
	push = +force group user/Aknx05
[receive]
	requireChangeId = true
	requireSignedOffBy = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
